

.pixelify-sans-<uniquifier> {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}



body {
     width: fit-content;
  height: fit-content;
  background-color: #E5DECE;
  color: black;
  align-content: center;
    text-align: center;
    margin: 0 auto;
    font-weight: 100;
    font-style: oblique;
    font-family: sans-serif;
}
    

a {
  color: hotpink;
}

a:hover {
  color: black;
}

#nav_ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  margin-bottom: 15px;
  margin-top: 15px;
    font-family: "Pixelify Sans", sans-serif;
  font-weight: 80;
    font-style: normal;
}

#nav_li {
   
  margin-top: 15px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    background-color: white;
    border-radius: 45px;
    width: calc(75%/3)  
        
}


h2 {
    text-align: left;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}

#post {
    text-align: left;
}

h2:hover {
    color: hotpink;
}

.cont {
    margin-left: 15%;
    margin-right: 15%;

    align-content: center;
}

#bios_ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  margin-bottom: 15px;
  margin-top: 15px;
}

#bios_li {
    margin-top: 15px;
    padding: 5px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    display: inline-block;
    background-color: white;
    border-radius: 100%;
}

#names_ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  margin-bottom: 15px;
  margin-top: 15px;
}

#name_li {
    margin-left: 35px;
    margin-right: 35px;
    text-align: center;
    display: inline-block;
    font-style: normal;

}

#links_ul {
    font-weight: 200;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 23px;

     width: fit-content;
  height: fit-content;
  background-color: #E5DECE;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-top: 25px;
  overflow: hidden;
  margin-bottom: 15px;
  margin-top: 15px;
 text-align: left;
}

#link_li {
    margin: 5px;
    display: inline-block;

}