

.pixelify-sans-<uniquifier> {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}



body {
     width: fit-content;
  height: fit-content;
  background-color: #E5DECE;
  color: black;
  align-content: center;
    text-align: center;
    margin: 0 auto;
    font-weight: 100;
    font-style: oblique;
    font-family: sans-serif;
}
    

a {
  color: black;
    text-decoration: none;
}

a:hover {
  color: hotpink;
}

#nav_ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  margin-bottom: 15px;
  margin-top: 15px;
    font-family: "Pixelify Sans", sans-serif;
  font-weight: 80;
    font-style: normal;
}

#nav_li {
   
  margin-top: 15px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    background-color: white;
    border-radius: 45px;
    width: calc(75%/3)  
        
}


h2 {
    text-align: left;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}

#post {
    text-align: left;
}

h2:hover {
    color: hotpink;
}

.cont {
    margin-left: 15%;
    margin-right: 15%;

    align-content: center;
}

#bios_ul {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
    display: inline-block;
    list-style-type: none;
    
}

#bios_li {
    margin: 10px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    float: left;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
}

#bio_img{
    border-radius: 50%;
}

#names_ul {
  list-style-type:none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  margin-bottom: 15px;
  margin-top: 15px;
    display:inline-flex;
    
}

#name_li {
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-style: normal;
}

#links_ul {
    font-weight: 200;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 23px;

     width: fit-content;
  height: fit-content;
  background-color: #E5DECE;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-top: 25px;
  overflow: hidden;
  margin-bottom: 15px;
  margin-top: 15px;
 text-align: left;
}

#link_li {
    margin: 5px;
    display: inline-block;

}

form {
    padding: 25px;
    text-align: left;
}

input[type=text] {
    width: 100%;
    padding: 2.5px;
    margin: 5px;
    border: none;
    border-bottom: 2px solid black;
}

input {
    font-family: monospace;
    opacity: 65%;
}

textarea {
    height: 150px;
    width: 100%;
    padding: 2.5px;
    margin: 5px;
    resize: none;
    border: none;
    font-family: monospace;
    opacity: 75%;
    border-bottom: 2px solid black;
}

#button_pos {
    text-align: center;
    padding: 10px
}

#button{
    padding: 5px;
    width: 35%;
    background-color: white;
    border-radius: 45px; 
    font-family: "Pixelify Sans", sans-serif;
    transition-duration: 0.4s;
}

#button:hover {
    color: hotpink;
    border-color: hotpink;
}

#data {
    padding-top:50px;
    padding-bottom:50px;
}